<div class = "container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class = "text-centre">
          <h1>Login</h1>
          <h6>Please enter Email & Password</h6>

        </div>
            <form >
              <div class="mb-3">
                <label for="exampleInputEmail1" >Email address</label>
                <input  type="email" class="form-control" name="email" [(ngModel)]="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1">Password</label>
                <input  type="password" class="form-control" name="password" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
            </form>


      </div>
    </div>

  </div>

</div>
